
nav {
  background-color: #2c3e50; 
  color: green; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  max-width: 1000px; 
  margin: 0 auto; 
}
.my-shop {
  font-size: 22px; 
  font-weight: bold;
  cursor: pointer;
  color: #ecf0f1; 
  text-transform: uppercase;
}


.search-bar {
  position: relative;
  width: 300px; /* Reduced width */
  flex-grow: 0.8; /* Prevents automatic expansion */
  margin: 0 10px; /* Adjusted margin for spacing */
}

.search-bar input {
  width: 100%;
  padding: 8px 10px; /* Slightly smaller padding */
  font-size: 14px; /* Adjusted font size */
}


.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #34495e; 
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  outline: none;
  font-size: 16px; 
}
 
.search-bar input:focus {
  border-color: #3498db; 
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2); 
}


.search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-results li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-results li img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color:white;
}

.cart {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  color:white;
}

.cart-count {
  position: absolute;
  top: -12px; /* Adjust this value */
  right: -10px; /* Adjust this value */
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
}
